version: '3.3'

services:
  streamlit-app:
    build:
      context: .
    container_name: streamlit-app
    ports:
      - "8501:8501"
    depends_on:
      - minio
    environment:
      MINIO_ENDPOINT: minio:9000
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    networks:
      - appnet

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - appnet

volumes:
  minio_data:

networks:
  appnet:

